.text-field *.text {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}
#closeButton {
-fx-font-size: 10;
    -fx-alignment: top-right;
    /*-fx-translate-x: 150;*/
    /*-fx-translate-y: -20;*/
}
.text-field{
    -fx-alignment: center;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.text-field *{
    -fx-background-color: transparent;
}
.text-field .content {
    -fx-background-color: transparent;
}
