.text-area *.text {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}
#closeButton {
-fx-font-size: 10;
}
.text-area{
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.text-area *{
    -fx-background-color: transparent;
}
.rhombSize .text-area {
    -fx-rotate: -45;
    -fx-pref-height: 40;
    -fx-translate-y: 8;
}

.text-area .content {
    -fx-background-color: transparent;
}


.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}
